{{ define "content" }}

<fullClassName>security.MediationPolicy</fullClassName>
<filter>
</filter>
<resultFilter>
    <attribute>id</attribute>
    <attribute>securityModel</attribute>
    <attribute>community</attribute>
    <attribute>userName</attribute>
</resultFilter>

{{ end }}
